.stoplight-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: white;
}

.stoplight-box {
  background-color: black;
  padding: 20px;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.green {
  background-color: #00ff00;
}

.yellow {
  background-color: #ffff00;
}

.red {
  background-color: #ff0000;
}

.on {
  opacity: 1;
}

.off {
  opacity: 0.3;
}
